# Imports

In [24]:
import nfl_data_py as nfl
import pandas as pd

# Grab Data

In [25]:
years = [2023]

In [31]:
df_weekly = nfl.import_weekly_data(years)

Downcasting floats.

In [33]:
df_pbp = nfl.import_pbp_data(years)

2023 done.
Downcasting floats.

# Selecting Position For SoS

In [44]:
position = 'QB'

In [45]:
df_position = df_weekly.query(f"position == '{position}' and season_type == 'REG'")

# Calculating Defensive Strength

In [105]:
def_columns = ["Team", "Fantasy Points Allowed", "Score", "Week", "Home/Away", "QB", "Offense",
               'Completions', 'Attempts', 'Passing Yards Allowed', 'Passing Touchdowns Allowed',
               'Interceptions', 'Sacks', "Fumbles Recovered", "Fumbles Forced", 'Passing Air Yards',
               'PACR', 'Dakota', "Roof"
              ]
df_defense_rank_weekly = pd.DataFrame(columns=def_columns)

In [106]:
# higher pacr is better for QB -> means more passing yards achieved of thrown passing air yards

In [107]:
# higher Dakota is better for QB -> More EPA or CPOE

In [108]:
for i, row in df_position.iterrows():
    player_name = row["player_name"]
    player_id = row["player_id"]
    
    off_team = row["recent_team"]
    def_team = row["opponent_team"]
    fantasy_points = row["fantasy_points"]
    week = row["week"]
    
    # for the composite score - assigning variables, defaulting to 0 if NaN
    completions = 0 if pd.isna(row["completions"]) else row["completions"]
    attempts = 0 if pd.isna(row["attempts"]) else row["attempts"]
    passing_yards = 0 if pd.isna(row["passing_yards"]) else row["passing_yards"]
    passing_tds = 0 if pd.isna(row["passing_tds"]) else row["passing_tds"]
    ints = 0 if pd.isna(row["interceptions"]) else row["interceptions"]
    sacks = 0 if pd.isna(row["sacks"]) else row["sacks"]
    fumbles_recovered = (0 if pd.isna(row["sack_fumbles_lost"]) else row["sack_fumbles_lost"]) + (0 if pd.isna(row["rushing_fumbles_lost"]) else row["rushing_fumbles_lost"])
    fumbles_forced = (0 if pd.isna(row["sack_fumbles"]) else row["sack_fumbles"]) + (0 if pd.isna(row["rushing_fumbles"]) else row["rushing_fumbles"])
    passing_a_y = 0 if pd.isna(row["passing_air_yards"]) else row["passing_air_yards"]
    pacr = 0 if pd.isna(row["pacr"]) else row["pacr"]
    dakota = 0 if pd.isna(row["dakota"]) else row["dakota"]
    rushing_yards = 0 if pd.isna(row["rushing_yards"]) else row["rushing_yards"]
    rushing_tds = 0 if pd.isna(row["rushing_tds"]) else row["rushing_tds"]
    
    # composite score calc:
    composite_score = (completions * -0.02) + (attempts * -0.01) + (passing_yards * -0.04) + (passing_tds * -5) \
        + (ints * 2) + (sacks * 1) + (fumbles_recovered * 2) + (fumbles_forced * 0.3) + (passing_a_y * -0.01) \
        + (pacr * -10) + (dakota * -5) 
#         + (rushing_tds * -6) + (rushing_yards * -0.10)
    
    # final score (subtract fantasy points - they were allowed by the defense)
#     score = composite_score - fantasy_points
    score = composite_score
    
    # other misc details
    home_away_def = ""
    roof = ""
    df_plays_for_week = df_pbp.query(f"passer_player_id == '{player_id}' and week == {week}")
    if not df_plays_for_week.empty:
        home_team = df_plays_for_week["home_team"].iloc[0]
        away_team = df_plays_for_week["away_team"].iloc[0]
        roof = df_plays_for_week["roof"].iloc[0]

        if def_team == home_team:
            home_away_def = "Home"
        else:
            home_away_def = "Away"
    
    new_row = {
        "Team": def_team,
        "Fantasy Points Allowed": fantasy_points,
        "Score": score,
        "Week": week,
        "Home/Away": home_away_def,
        "QB": player_name,
        "Offense": off_team,
        'Completions': completions,
        'Attempts': attempts,
        'Passing Yards Allowed': passing_a_y,
        'Passing Touchdowns Allowed': passing_tds,
        'Interceptions': ints,
        'Sacks': sacks,
        "Fumbles Recovered": fumbles_recovered,
        "Fumbles Forced": fumbles_forced,
        'Passing Air Yards': passing_a_y,
        'PACR': pacr,
        'Dakota': dakota,
        'Roof': roof
    }
    
    new_row_df = pd.DataFrame([new_row])
    df_defense_rank_weekly = pd.concat([df_defense_rank_weekly, new_row_df], ignore_index=True)

/var/folders/yx/gjm2fjs56vl5kkwrb6xf5d2h0000gn/T/ipykernel_24303/2661945140.py:72: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_defense_rank_weekly = pd.concat([df_defense_rank_weekly, new_row_df], ignore_index=True)

In [109]:
df_defense_rank_weekly.sort_values(by="Week")

,Team,Fantasy Points Allowed,Score,Week,Home/Away,QB,Offense,Completions,Attempts,Passing Yards Allowed,Passing Touchdowns Allowed,Interceptions,Sacks,Fumbles Recovered,Fumbles Forced,Passing Air Yards,PACR,Dakota,Roof
0,BUF,0.000000,0.820000,1,Away,A.Rodgers,NYJ,0,1,17.0,0,0.0,1.0,0.0,0.0,17.0,0.000000,0,outdoors
537,PIT,16.799999,-26.309561,1,Home,B.Purdy,SF,19,29,242.0,2,0.0,3.0,1.0,2.0,242.0,0.909091,0.18573,outdoors
520,ARI,15.180000,-14.548035,1,Away,S.Howell,WAS,19,31,228.0,1,1.0,6.0,1.0,1.0,228.0,0.885965,-0.012323,outdoors
508,BUF,8.200000,-22.978011,1,Away,Z.Wilson,NYJ,14,21,96.0,1,1.0,2.0,0.0,0.0,96.0,1.458333,0.068935,outdoors
54,TB,16.459999,-31.108301,1,Away,K.Cousins,MIN,33,44,298.0,2,1.0,2.0,2.0,2.0,298.0,1.154362,0.064935,dome
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651,TB,4.160000,-8.763839,18,Away,B.Young,CAR,11,18,105.0,0,0.0,3.0,1.0,1.0,105.0,0.895238,-0.019708,outdoors
618,DEN,17.860001,-32.578936,18,Away,A.O'Connell,LV,20,31,227.0,2,0.0,2.0,0.0,0.0,227.0,1.074890,0.218007,dome
496,TEN,16.200001,-30.717968,18,Home,T.Lawrence,JAX,29,43,308.0,2,2.0,0.0,0.0,0.0,308.0,0.909091,0.067412,outdoors
319,MIA,23.059999,-30.462155,18,Home,J.Allen,BUF,30,38,368.0,2,2.0,3.0,1.0,1.0,368.0,0.975543,0.197344,outdoors
589,NO,15.640000,-35.119032,18,Home,D.Ridder,ATL,22,30,199.0,2,1.0,0.0,1.0,1.0,199.0,1.462312,0.085183,dome

In [110]:
df_seasonal_scores = df_defense_rank_weekly.copy().groupby(["Team"]).agg({"Score": "mean"})

In [119]:
df_def_avg = df_seasonal_scores.sort_values(by="Score", ascending=False)

In [120]:
df_def_avg

          Score
Team
NYJ  -15.757591
BAL  -16.751721
CLE  -17.005123
DAL  -17.335853
CAR  -18.065653
NE   -18.287097
IND  -18.643557
ATL  -18.776083
LA   -20.318886
KC   -20.443891
BUF  -20.554096
NYG  -20.792885
TEN  -20.834868
LV   -21.142031
HOU  -21.224068
GB   -21.481401
JAX  -21.811667
MIA  -21.876874
SEA  -22.057080
TB   -22.460515
CHI  -22.476253
SF   -22.822087
DET  -22.824167
NO   -22.859778
PIT  -23.178373
ARI  -23.237366
MIN  -23.529903
CIN  -24.464676
DEN  -24.889461
LAC  -27.416919
WAS  -27.624521
PHI  -28.225089

In [113]:
df_qb_scores = df_defense_rank_weekly.copy().groupby(["QB"]).agg({"Score": "mean", "Fantasy Points Allowed": "mean"})

In [114]:
df_sos_by_qb = df_qb_scores.sort_values(by="Fantasy Points Allowed")[-30:]

In [115]:
df_sos_by_qb.sort_values(by="Score")

                  Score  Fantasy Points Allowed
QB
J.Flacco     -35.343644               20.168000
K.Cousins    -33.315687               18.717500
B.Purdy      -33.163381               18.475000
D.Prescott   -32.328900               20.167059
T.Tagovailoa -31.829825               16.021177
J.Goff       -31.348875               17.005882
P.Mahomes    -30.627392               17.513750
M.Stafford   -29.482471               16.206667
J.Love       -28.908221               18.768235
C.Stroud     -28.254077               18.268000
J.Allen      -28.247791               23.214117
J.Herbert    -26.999488               17.935385
L.Jackson    -26.990941               20.701250
D.Carr       -26.865324               14.183529
G.Smith      -26.730367               15.084000
B.Mayfield   -26.664541               16.121176
J.Burrow     -26.593174               14.716000
J.Browning   -26.469025               15.937778
C.Wentz      -25.849224               26.120001
R.Wilson     -25.744931               17.126667
K.Murray     -25.213369               18.295000
T.Lawrence   -25.024331               16.408750
J.Hurts      -23.774041               20.989412
A.Richardson -23.756084               18.170000
J.Fields     -22.248660               17.706154
S.Howell     -21.196731               15.090588
E.Stick      -20.281154               13.512000
J.Driskel    -19.484646               13.940000
J.Dobbs      -18.848638               15.589231
D.Watson     -18.270218               14.466666

In [116]:
df_sos_by_qb["Score"] = df_sos_by_qb["Score"] + 40

In [124]:
df_sos_by_qb

                  Score  Fantasy Points Allowed
QB
E.Stick       19.718846               13.512000
J.Driskel     20.515354               13.940000
D.Carr        13.134676               14.183529
D.Watson      21.729782               14.466666
J.Burrow      13.406826               14.716000
G.Smith       13.269633               15.084000
S.Howell      18.803269               15.090588
J.Dobbs       21.151362               15.589231
J.Browning    13.530975               15.937778
T.Tagovailoa   8.170175               16.021177
B.Mayfield    13.335459               16.121176
M.Stafford    10.517529               16.206667
T.Lawrence    14.975669               16.408750
J.Goff         8.651125               17.005882
R.Wilson      14.255069               17.126667
P.Mahomes      9.372608               17.513750
J.Fields      17.751340               17.706154
J.Herbert     13.000512               17.935385
A.Richardson  16.243916               18.170000
C.Stroud      11.745923               18.268000
K.Murray      14.786631               18.295000
B.Purdy        6.836619               18.475000
K.Cousins      6.684313               18.717500
J.Love        11.091779               18.768235
D.Prescott     7.671100               20.167059
J.Flacco       4.656356               20.168000
L.Jackson     13.009059               20.701250
J.Hurts       16.225959               20.989412
J.Allen       11.752209               23.214117
C.Wentz       14.150776               26.120001

In [118]:
df_sos_by_qb.to_pickle("./df_sos_by_qb_passing_23")

In [121]:
df_def_avg["Score"] = df_def_avg["Score"] + 30

In [125]:
df_def_avg.to_pickle("./df_def_rating_by_qb_passing_23")

In [134]:
s = "1"
s[1:]

''

In [135]:
s.index("1")

0

In [138]:
s[0].

str