# Imports

In [32]:
import numpy as np
import pandas as pd
import nfl_data_py as nfl

# Importing NFL Data

In [2]:
years = range(1999, 2023 + 1)

In [3]:
# df_roster = nfl.import_seasonal_rosters(years)
# df_roster.to_pickle("./df_roster_99_23.pkl")

In [4]:
df_roster = pd.read_pickle("./df_roster_99_23.pkl")

In [5]:
df_roster.head()

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,entry_year,rookie_year,draft_club,ngs_position,week,game_type,status_description_abbr,football_name,draft_number,age
0,1999,CLE,RB,RB,27,ACT,Abdul-Karim al-Jabbar,Abdul-Karim,al-Jabbar,1974-06-28,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,25.0
1,1999,MIA,RB,RB,33,TRD,Abdul-Karim al-Jabbar,Abdul-Karim,al-Jabbar,1974-06-28,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,25.0
2,1999,TB,RB,RB,27,RES,Rabih Abdullah,Rabih,Abdullah,1975-04-27,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,24.0
3,1999,CLE,LB,OLB,55,ACT,Rahim Abdullah,Rahim,Abdullah,1976-03-22,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,23.0
4,1999,TB,DB,CB,21,ACT,Donnie Abraham,Nathaniel,Abraham,1973-10-08,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,25.0

In [6]:
# df_seasonal = nfl.import_seasonal_data(years)
# df_seasonal.to_pickle("./seasonal_99_23.pkl")

In [7]:
df_seasonal = pd.read_pickle("./seasonal_99_23.pkl")

In [8]:
df_seasonal.head()

,player_id,season,season_type,completions,attempts,passing_yards,passing_tds,interceptions,sacks,sack_yards,...,yac_sh,wopr_y,ry_sh,rtd_sh,rfd_sh,rtdfd_sh,dom,w8dom,yptmpa,ppr_sh
0,00-0000003,1999,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.030108,0.052632,0.038168,0.040000,0.041370,0.034612,0.192661,0.086998
1,00-0000003,2000,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.002418
2,00-0000007,1999,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.016200,0.000000,0.000000,0.000000,0.008100,0.012960,0.082707,0.021010
3,00-0000007,2000,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.034230,0.000000,0.043478,0.041667,0.017115,0.027384,0.197183,0.053758
4,00-0000007,2001,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.064838,0.000000,0.095238,0.083333,0.032419,0.051870,0.412698,0.054108

# Creating Data Set

In [12]:
df_roster_seasonal = df_roster[["season", "position", "player_name", "player_id", "age"]]

In [13]:
df_roster_seasonal.query("player_name == 'Mike Evans'")

      season position player_name   player_id   age
2130    2014       WR  Mike Evans  00-0031408  21.0
1807    2015       WR  Mike Evans  00-0031408  22.0
1805    2016       WR  Mike Evans  00-0031408  23.0
1324    2017       WR  Mike Evans  00-0031408  24.0
989     2018       WR  Mike Evans  00-0031408  25.0
735     2019       WR  Mike Evans  00-0031408  26.0
653     2020       WR  Mike Evans  00-0031408  27.0
417     2021       WR  Mike Evans  00-0031408  28.0
285     2022       WR  Mike Evans  00-0031408  29.0
187     2023       WR  Mike Evans  00-0031408  30.0

In [ ]:
df_roster_seasonal.reset_index(inplace=True)

In [14]:
df_merge = df_seasonal.merge(df_roster_seasonal, on=["player_id", "season"], how="left")

In [16]:
df_merge.query("player_name == 'Mike Evans'")

,player_id,season,season_type,completions,attempts,passing_yards,passing_tds,interceptions,sacks,sack_yards,...,rtd_sh,rfd_sh,rtdfd_sh,dom,w8dom,yptmpa,ppr_sh,position,player_name,age
11350,00-0031408,2014,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.631579,0.308725,0.345238,0.471539,0.375516,2.106212,0.232706,WR,Mike Evans,21.0
11351,00-0031408,2015,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.150000,0.331579,0.314286,0.232359,0.281775,2.402390,0.165895,WR,Mike Evans,22.0
11352,00-0031408,2016,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.413793,0.368182,0.373494,0.365480,0.336492,2.285467,0.217261,WR,Mike Evans,23.0
11353,00-0031408,2017,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.200000,0.238095,0.234375,0.213235,0.221176,1.753065,0.147163,WR,Mike Evans,24.0
11354,00-0031408,2018,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.222222,0.260377,0.255814,0.253328,0.271992,2.438400,0.170257,WR,Mike Evans,25.0
11355,00-0031408,2019,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.307692,0.267327,0.271930,0.293817,0.285492,2.242248,0.177414,WR,Mike Evans,26.0
11356,00-0031408,2020,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.309524,0.231092,0.242857,0.260080,0.230414,1.607029,0.144995,WR,Mike Evans,27.0
11357,00-0031408,2021,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.333333,0.214559,0.231023,0.267133,0.227412,1.478571,0.143722,WR,Mike Evans,28.0
11358,00-0031408,2022,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.260870,0.239631,0.241667,0.259958,0.259411,1.665185,0.160283,WR,Mike Evans,29.0
11359,00-0031408,2023,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.464286,0.287234,0.310185,0.387311,0.341126,2.209507,0.204509,WR,Mike Evans,30.0

In [18]:
df_merge.head()

,player_id,season,season_type,completions,attempts,passing_yards,passing_tds,interceptions,sacks,sack_yards,...,rtd_sh,rfd_sh,rtdfd_sh,dom,w8dom,yptmpa,ppr_sh,position,player_name,age
0,00-0000003,1999,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.052632,0.038168,0.040000,0.041370,0.034612,0.192661,0.086998,RB,Abdul-Karim al-Jabbar,25.0
1,00-0000003,1999,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.052632,0.038168,0.040000,0.041370,0.034612,0.192661,0.086998,RB,Abdul-Karim al-Jabbar,25.0
2,00-0000003,2000,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.002418,RB,Abdul-Karim al-Jabbar,26.0
3,00-0000007,1999,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.008100,0.012960,0.082707,0.021010,RB,Rabih Abdullah,24.0
4,00-0000007,2000,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.000000,0.043478,0.041667,0.017115,0.027384,0.197183,0.053758,RB,Rabih Abdullah,25.0

# Adding Fantasy Rank

In [23]:
df_filter = df_merge.copy() \
    .query("position == 'QB' or position == 'RB' or position == 'WR' or position == 'TE'")

In [25]:
df_filter['rank'] = df_filter \
    .groupby(['season', 'position'])['fantasy_points_ppr'] \
    .rank(method='first', ascending=False)

In [26]:
df_filter.query("player_name == 'Mike Evans'")

,player_id,season,season_type,completions,attempts,passing_yards,passing_tds,interceptions,sacks,sack_yards,...,rfd_sh,rtdfd_sh,dom,w8dom,yptmpa,ppr_sh,position,player_name,age,rank
11350,00-0031408,2014,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.308725,0.345238,0.471539,0.375516,2.106212,0.232706,WR,Mike Evans,21.0,13.0
11351,00-0031408,2015,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.331579,0.314286,0.232359,0.281775,2.402390,0.165895,WR,Mike Evans,22.0,23.0
11352,00-0031408,2016,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.368182,0.373494,0.365480,0.336492,2.285467,0.217261,WR,Mike Evans,23.0,3.0
11353,00-0031408,2017,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.238095,0.234375,0.213235,0.221176,1.753065,0.147163,WR,Mike Evans,24.0,17.0
11354,00-0031408,2018,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.260377,0.255814,0.253328,0.271992,2.438400,0.170257,WR,Mike Evans,25.0,9.0
11355,00-0031408,2019,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.267327,0.271930,0.293817,0.285492,2.242248,0.177414,WR,Mike Evans,26.0,15.0
11356,00-0031408,2020,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.231092,0.242857,0.260080,0.230414,1.607029,0.144995,WR,Mike Evans,27.0,11.0
11357,00-0031408,2021,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.214559,0.231023,0.267133,0.227412,1.478571,0.143722,WR,Mike Evans,28.0,9.0
11358,00-0031408,2022,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.239631,0.241667,0.259958,0.259411,1.665185,0.160283,WR,Mike Evans,29.0,17.0
11359,00-0031408,2023,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.287234,0.310185,0.387311,0.341126,2.209507,0.204509,WR,Mike Evans,30.0,7.0

In [30]:
def assign_tier(rank):
    return np.ceil(rank / 12)

In [33]:
df_filter['tier'] = df_filter['rank'].apply(assign_tier)

In [34]:
df_filter.query("player_name == 'Mike Evans'")

,player_id,season,season_type,completions,attempts,passing_yards,passing_tds,interceptions,sacks,sack_yards,...,rtdfd_sh,dom,w8dom,yptmpa,ppr_sh,position,player_name,age,rank,tier
11350,00-0031408,2014,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.345238,0.471539,0.375516,2.106212,0.232706,WR,Mike Evans,21.0,13.0,2.0
11351,00-0031408,2015,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.314286,0.232359,0.281775,2.402390,0.165895,WR,Mike Evans,22.0,23.0,2.0
11352,00-0031408,2016,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.373494,0.365480,0.336492,2.285467,0.217261,WR,Mike Evans,23.0,3.0,1.0
11353,00-0031408,2017,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.234375,0.213235,0.221176,1.753065,0.147163,WR,Mike Evans,24.0,17.0,2.0
11354,00-0031408,2018,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.255814,0.253328,0.271992,2.438400,0.170257,WR,Mike Evans,25.0,9.0,1.0
11355,00-0031408,2019,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.271930,0.293817,0.285492,2.242248,0.177414,WR,Mike Evans,26.0,15.0,2.0
11356,00-0031408,2020,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.242857,0.260080,0.230414,1.607029,0.144995,WR,Mike Evans,27.0,11.0,1.0
11357,00-0031408,2021,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.231023,0.267133,0.227412,1.478571,0.143722,WR,Mike Evans,28.0,9.0,1.0
11358,00-0031408,2022,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.241667,0.259958,0.259411,1.665185,0.160283,WR,Mike Evans,29.0,17.0,2.0
11359,00-0031408,2023,REG,0,0,0.0,0,0.0,0.0,0.0,...,0.310185,0.387311,0.341126,2.209507,0.204509,WR,Mike Evans,30.0,7.0,1.0

# Saving Data Set

In [35]:
df_filter.to_pickle("./basic_99_23.pkl")