# Imports

In [1]:
import pandas as pd
import nfl_data_py as nfl

# Creating Mass Data Set

In [3]:
years = range(1999, 2023 + 1)

In [4]:
df_roster = nfl.import_seasonal_rosters(years)

In [5]:
df_roster_seasonal = df_roster[["season", "position", "player_name", "player_id", "age"]]

In [6]:
df_roster_seasonal.query("player_name == 'Mike Evans'")

      season position player_name   player_id   age
2130    2014       WR  Mike Evans  00-0031408  21.0
1807    2015       WR  Mike Evans  00-0031408  22.0
1805    2016       WR  Mike Evans  00-0031408  23.0
1324    2017       WR  Mike Evans  00-0031408  24.0
989     2018       WR  Mike Evans  00-0031408  25.0
735     2019       WR  Mike Evans  00-0031408  26.0
653     2020       WR  Mike Evans  00-0031408  27.0
417     2021       WR  Mike Evans  00-0031408  28.0
285     2022       WR  Mike Evans  00-0031408  29.0
187     2023       WR  Mike Evans  00-0031408  30.0

In [7]:
df_roster_seasonal.reset_index(inplace=True)

In [8]:
df_seasonal = nfl.import_seasonal_data(years)

In [15]:
df_merge = df_seasonal.merge(df_roster_seasonal, on=["player_id", "season"], how="left")

In [16]:
df_merge_cleaned = df_merge.drop_duplicates().dropna()

In [18]:
df_merge_cleaned.to_pickle("../../FantasyData/data-frames/df_all_2005_2023.pkl")