# Imports

In [3]:
import math
import pandas as pd
import nfl_data_py as nfl

# Creating Mass Data Set

In [2]:
years = range(1999, 2023 + 1)

## Seasonal Data

In [3]:
df_seasonal = nfl.import_seasonal_data(years)

In [4]:
df_seasonal.head()

,player_id,season,season_type,completions,attempts,passing_yards,passing_tds,interceptions,sacks,sack_yards,...,yac_sh,wopr_y,ry_sh,rtd_sh,rfd_sh,rtdfd_sh,dom,w8dom,yptmpa,ppr_sh
0,00-0000003,1999,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.030108,0.052632,0.038168,0.040000,0.041370,0.034612,0.192661,0.086998
1,00-0000003,2000,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.002418
2,00-0000007,1999,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.016200,0.000000,0.000000,0.000000,0.008100,0.012960,0.082707,0.021010
3,00-0000007,2000,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.034230,0.000000,0.043478,0.041667,0.017115,0.027384,0.197183,0.053758
4,00-0000007,2001,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.064838,0.000000,0.095238,0.083333,0.032419,0.051870,0.412698,0.054108

## Combine and Draft Capital

In [5]:
df_combine = nfl.import_combine_data(years)

In [6]:
df_combine.head()

,season,draft_year,draft_team,draft_round,draft_ovr,pfr_id,cfb_id,player_name,pos,school,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle
0,2000,2000.0,New York Jets,1.0,13.0,AbraJo00,None,John Abraham,OLB,South Carolina,6-4,252.0,4.55,NaN,NaN,NaN,NaN,NaN
1,2000,2000.0,Seattle Seahawks,1.0,19.0,AlexSh00,shaun-alexander-1,Shaun Alexander,RB,Alabama,6-0,218.0,4.58,NaN,NaN,NaN,NaN,NaN
2,2000,2000.0,Kansas City Chiefs,6.0,188.0,AlfoDa20,None,Darnell Alford,OT,Boston Col.,6-4,334.0,5.56,23.0,25.0,94.0,8.48,4.98
3,2000,NaN,None,NaN,NaN,None,None,Kyle Allamon,TE,Texas Tech,6-2,253.0,4.97,NaN,29.0,104.0,7.29,4.49
4,2000,2000.0,Carolina Panthers,1.0,23.0,AndeRa21,None,Rashard Anderson,CB,Jackson State,6-2,206.0,4.55,NaN,34.0,123.0,7.18,4.15

In [7]:
df_draft_cap = nfl.import_draft_picks(years)

In [8]:
df_draft_cap.head()

,season,round,pick,team,gsis_id,pfr_player_id,cfb_player_id,pfr_player_name,hof,position,...,pass_ints,rush_atts,rush_yards,rush_tds,receptions,rec_yards,rec_tds,def_solo_tackles,def_ints,def_sacks
5773,1999,1,1,CLE,None,CoucTi00,tim-couch-1,Tim Couch,False,QB,...,67.0,124.0,556.0,2.0,2.0,-13.0,0.0,NaN,NaN,NaN
5774,1999,1,2,PHI,None,McNaDo00,donovan-mcnabb-1,Donovan McNabb,False,QB,...,117.0,616.0,3459.0,29.0,5.0,-7.0,0.0,NaN,NaN,NaN
5775,1999,1,3,CIN,None,SmitAk00,akili-smith-1,Akili Smith,False,QB,...,13.0,70.0,371.0,1.0,1.0,6.0,0.0,NaN,NaN,NaN
5776,1999,1,4,IND,None,JameEd00,edgerrin-james-1,Edgerrin James,True,RB,...,0.0,3028.0,12246.0,80.0,433.0,3364.0,11.0,NaN,NaN,NaN
5777,1999,1,5,NOR,00-0017915,WillRi00,ricky-williams-4,Ricky Williams,False,RB,...,1.0,2431.0,10009.0,66.0,342.0,2606.0,8.0,1.0,NaN,NaN

## Roster Data

In [9]:
df_roster = nfl.import_seasonal_rosters(years)

In [10]:
df_roster.head()

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,entry_year,rookie_year,draft_club,ngs_position,week,game_type,status_description_abbr,football_name,draft_number,age
0,1999,CLE,RB,RB,27,ACT,Abdul-Karim al-Jabbar,Abdul-Karim,al-Jabbar,1974-06-28,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,25.0
1,1999,MIA,RB,RB,33,TRD,Abdul-Karim al-Jabbar,Abdul-Karim,al-Jabbar,1974-06-28,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,25.0
2,1999,TB,RB,RB,27,RES,Rabih Abdullah,Rabih,Abdullah,1975-04-27,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,24.0
3,1999,CLE,LB,OLB,55,ACT,Rahim Abdullah,Rahim,Abdullah,1976-03-22,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,23.0
4,1999,TB,DB,CB,21,ACT,Donnie Abraham,Nathaniel,Abraham,1973-10-08,...,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,25.0

### Massaging Roster Data

In [11]:
df_roster_seasonal = df_roster[["position", "player_name", "player_id", "pfr_id", "season", "age"]]

## Merging DFs

In [12]:
df_merge = df_seasonal.merge(df_roster_seasonal, on=["player_id", "season"], how="left")

In [13]:
df_merge_cleaned = df_merge.copy().drop_duplicates()

In [14]:
# for col in df_combine.columns:
#     print(f"df_merge_cleaned.at[i, '{col}'] = combine_row['{col}'].iloc[0]")

In [15]:
for i, row in df_merge_cleaned.iterrows():
    pfr_id = row["pfr_id"]

    
    combine_row = df_combine.query(f"""pfr_id == "{pfr_id}" """)    
    if not combine_row.empty:
        # draft info
        df_merge_cleaned.at[i, 'draft_year'] = combine_row['draft_year'].iloc[0]
        df_merge_cleaned.at[i, 'draft_team'] = combine_row['draft_team'].iloc[0]
        df_merge_cleaned.at[i, 'draft_round'] = combine_row['draft_round'].iloc[0]
        df_merge_cleaned.at[i, 'draft_ovr'] = combine_row['draft_ovr'].iloc[0]
        df_merge_cleaned.at[i, 'school'] = combine_row['school'].iloc[0]
        
        # combine info
        df_merge_cleaned.at[i, 'ht'] = combine_row['ht'].iloc[0]
        df_merge_cleaned.at[i, 'wt'] = combine_row['wt'].iloc[0]
        df_merge_cleaned.at[i, 'forty'] = combine_row['forty'].iloc[0]
        df_merge_cleaned.at[i, 'bench'] = combine_row['bench'].iloc[0]
        df_merge_cleaned.at[i, 'vertical'] = combine_row['vertical'].iloc[0]
        df_merge_cleaned.at[i, 'broad_jump'] = combine_row['broad_jump'].iloc[0]
        df_merge_cleaned.at[i, 'cone'] = combine_row['cone'].iloc[0]
        df_merge_cleaned.at[i, 'shuttle'] = combine_row['shuttle'].iloc[0]
    else:
        draft_capital_row = df_draft_cap.query(f"""pfr_player_id == "{pfr_id}" """) 
        
        if not draft_capital_row.empty:
            df_merge_cleaned.at[i, 'draft_year'] = draft_capital_row['season'].iloc[0]
            df_merge_cleaned.at[i, 'draft_team'] = draft_capital_row['team'].iloc[0]
            df_merge_cleaned.at[i, 'draft_round'] = draft_capital_row['round'].iloc[0]
            df_merge_cleaned.at[i, 'draft_ovr'] = draft_capital_row['pick'].iloc[0]

# Adding Fantasy Tiering

In [16]:
df_fantasy_tiering = df_merge_cleaned.copy()

In [17]:
def assign_tier(group):
    group['tier'] = (group.reset_index(drop=True).index // 12) + 1
    return group

## Position Group

In [18]:
POSITION = "QB"

In [19]:
df_pos = df_fantasy_tiering.loc[df_fantasy_tiering["position"] == POSITION]

In [20]:
df_sorted = df_pos.copy().sort_values(by=['season', 'fantasy_points_ppr'], ascending=[True, False])
df_tiered = df_sorted.groupby('season').apply(assign_tier)

/tmp/ipykernel_13810/334919797.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_tiered = df_sorted.groupby('season').apply(assign_tier)

In [21]:
df_tiered.query("season == 2023")[["player_name", "fantasy_points_ppr",
                                      "tier", "draft_ovr", "draft_team"]].head(36)

                   player_name  fantasy_points_ppr  tier  draft_ovr  \
season
2023   13582        Josh Allen              394.64     1        7.0
       14353       Jalen Hurts              356.82     1       53.0
       12397      Dak Prescott              342.84     1      135.0
       13505     Lamar Jackson              331.22     1       32.0
       14238       Jordan Love              319.06     1       26.0
       14775       Brock Purdy              295.60     1      262.0
       12433        Jared Goff              289.10     1        1.0
       12895   Patrick Mahomes              280.22     1       10.0
       14906       C.J. Stroud              275.02     1        2.0
       13576    Baker Mayfield              274.06     1        1.0
       14181    Tua Tagovailoa              272.36     1        5.0
       14596   Trevor Lawrence              262.54     1        1.0
       14635        Sam Howell              257.54     2      144.0
       9880     Russell Wilson              256.90     2       75.0
       7925   Matthew Stafford              243.10     2        1.0
       11186        Derek Carr              241.12     2       36.0
       14318    Justin Herbert              234.16     2        6.0
       14579     Justin Fields              230.18     2       11.0
       10838        Geno Smith              227.26     2       39.0
       13028      Joshua Dobbs              202.66     2      135.0
       13799   Gardner Minshew              196.20     2      178.0
       14808    Desmond Ridder              181.14     2       74.0
       14904       Bryce Young              156.38     2        1.0
       10096      Kirk Cousins              149.74     2      102.0
       14406        Joe Burrow              147.16     3        1.0
       13740      Kyler Murray              146.36     3        1.0
       13675     Jake Browning              144.44     3        NaN
       12592       Taysom Hill              143.52     3        NaN
       14843   Aidan O'Connell              125.82     3      135.0
       14632       Zach Wilson              119.94     3        2.0
       14796     Kenny Pickett              110.20     3       20.0
       14599         Mac Jones              106.40     3       15.0
       14905        Will Levis              102.02     3       33.0
       7483         Joe Flacco              100.84     3       18.0
       14828      Tommy DeVito               93.54     3        NaN
       9420       Tyrod Taylor               87.34     3      180.0

                         draft_team
season
2023   13582          Buffalo Bills
       14353    Philadelphia Eagles
       12397         Dallas Cowboys
       13505       Baltimore Ravens
       14238      Green Bay Packers
       14775    San Francisco 49ers
       12433       Los Angeles Rams
       12895     Kansas City Chiefs
       14906         Houston Texans
       13576       Cleveland Browns
       14181         Miami Dolphins
       14596   Jacksonville Jaguars
       14635  Washington Commanders
       9880        Seattle Seahawks
       7925           Detroit Lions
       11186        Oakland Raiders
       14318   Los Angeles Chargers
       14579          Chicago Bears
       10838          New York Jets
       13028    Pittsburgh Steelers
       13799   Jacksonville Jaguars
       14808        Atlanta Falcons
       14904      Carolina Panthers
       10096    Washington Redskins
       14406     Cincinnati Bengals
       13740      Arizona Cardinals
       13675                    NaN
       12592                    NaN
       14843      Las Vegas Raiders
       14632          New York Jets
       14796    Pittsburgh Steelers
       14599   New England Patriots
       14905       Tennessee Titans
       7483        Baltimore Ravens
       14828                    NaN
       9420        Baltimore Ravens

In [25]:
df_tiered.to_pickle(f"../../FantasyData/data-frames/df_{POSITION.lower()}_college_2000_2023.pkl")

# Draft Values

In [23]:
df_draft_values = nfl.import_draft_values()

In [24]:
df_draft_values.head(10)

   pick  stuart  johnson     hill   otc    pff
0     1    34.6     3000  1000.00  3000  1.135
1     2    30.2     2600   717.17  2635  1.099
2     3    27.6     2200   514.33  2421  1.063
3     4    25.8     1800   490.52  2270  1.027
4     5    24.3     1700   467.81  2152  0.991
5     6    23.2     1600   446.15  2056  0.955
6     7    22.2     1500   425.50  1975  0.919
7     8    21.4     1400   405.80  1905  0.883
8     9    20.6     1350   387.01  1843  0.847
9    10    19.9     1300   369.09  1787  0.811