# Imports

In [1]:
import numpy as np
import pandas as pd
import nfl_data_py as nfl

# Importing NFL Data

In [2]:
pfr_years = range(2018, 2023 + 1)

# Loading Basic Data

Loading in our current version of the filter data - this takes forever to grab due to the wikipedia queries.

In [3]:
df_core = pd.read_pickle("../../FantasyData/data-frames/df_basic_ngs_snaps_1999_2023.pkl")

In [4]:
df_core.head()

,player_id,season,season_type,completions,attempts,passing_yards,passing_tds,interceptions,sacks,sack_yards,...,percent_share_of_intended_air_yards,catch_percentage,yards,rec_touchdowns,avg_yac,avg_expected_yac,avg_yac_above_expectation,pfr_player_id,offense_snaps,offense_pct
0,00-0000003,1999,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00-0000003,1999,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00-0000003,2000,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00-0000007,1999,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00-0000007,2000,REG,0,0,0.0,0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_core.columns[:60]

Index(['player_id', 'season', 'season_type', 'completions', 'attempts',
       'passing_yards', 'passing_tds', 'interceptions', 'sacks', 'sack_yards',
       'sack_fumbles', 'sack_fumbles_lost', 'passing_air_yards',
       'passing_yards_after_catch', 'passing_first_downs', 'passing_epa',
       'passing_2pt_conversions', 'pacr', 'dakota', 'carries', 'rushing_yards',
       'rushing_tds', 'rushing_fumbles', 'rushing_fumbles_lost',
       'rushing_first_downs', 'rushing_epa', 'rushing_2pt_conversions',
       'receptions', 'targets', 'receiving_yards', 'receiving_tds',
       'receiving_fumbles', 'receiving_fumbles_lost', 'receiving_air_yards',
       'receiving_yards_after_catch', 'receiving_first_downs', 'receiving_epa',
       'receiving_2pt_conversions', 'racr', 'target_share', 'air_yards_share',
       'wopr_x', 'special_teams_tds', 'fantasy_points', 'fantasy_points_ppr',
       'games', 'tgt_sh', 'ay_sh', 'yac_sh', 'wopr_y', 'ry_sh', 'rtd_sh',
       'rfd_sh', 'rtdfd_sh', 'dom', 'w8dom', 'yptmpa', 'ppr_sh', 'index',
       'position'],
      dtype='object')

In [6]:
df_core.columns[55:]

Index(['w8dom', 'yptmpa', 'ppr_sh', 'index', 'position', 'player_name', 'age',
       'team', 'rank', 'tier', 'Draft Year', 'Draft No.', 'Draft Round',
       'Draft Pick', 'Draft Overall', 'Draft Team', 'College',
       'avg_time_to_throw', 'avg_completed_air_yards',
       'avg_intended_air_yards', 'avg_air_yards_differential',
       'aggressiveness', 'max_completed_air_distance',
       'avg_air_yards_to_sticks', 'pass_yards', 'pass_touchdowns',
       'passer_rating', 'completion_percentage',
       'expected_completion_percentage',
       'completion_percentage_above_expectation', 'avg_air_distance',
       'max_air_distance', 'efficiency',
       'percent_attempts_gte_eight_defenders', 'avg_time_to_los',
       'rush_attempts', 'rush_yards', 'expected_rush_yards',
       'rush_yards_over_expected', 'avg_rush_yards',
       'rush_yards_over_expected_per_att', 'rush_pct_over_expected',
       'rush_touchdowns', 'avg_cushion', 'avg_separation',
       'avg_intended_air_yards_receiving',
       'percent_share_of_intended_air_yards', 'catch_percentage', 'yards',
       'rec_touchdowns', 'avg_yac', 'avg_expected_yac',
       'avg_yac_above_expectation', 'pfr_player_id', 'offense_snaps',
       'offense_pct'],
      dtype='object')

In [7]:
df_core.query("player_name == 'Chris Olave'")[["season", "player_name", "offense_snaps", "avg_cushion"]]

       season  player_name  offense_snaps  avg_cushion
13093    2022  Chris Olave          607.0      7.22400
13094    2023  Chris Olave          814.0      6.29093

In [8]:
df_core.query("player_name == 'Amon-Ra St. Brown'")[["season", "player_name", "offense_snaps", "avg_cushion"]]

       season        player_name  offense_snaps  avg_cushion
13023    2021  Amon-Ra St. Brown          816.0     6.662577
13024    2022  Amon-Ra St. Brown          832.0     6.522800
13025    2023  Amon-Ra St. Brown         1010.0     6.702365

# Loading Passing PFR Data

In [9]:
df_pfr_pass = nfl.import_seasonal_pfr("pass", pfr_years)

In [10]:
df_pfr_pass.rename(columns={'pfr_id': "pfr_player_id"}, inplace=True)

In [11]:
df_pfr_pass.head()

,player,team,pass_attempts,throwaways,spikes,drops,drop_pct,bad_throws,bad_throw_pct,season,...,on_tgt_throws,on_tgt_pct,rpo_plays,rpo_yards,rpo_pass_att,rpo_pass_yards,rpo_rush_att,rpo_rush_yards,pa_pass_att,pa_pass_yards
0,Ben Roethlisberger,PIT,675.0,7.0,3.0,24.0,3.6,122.0,18.3,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patrick Mahomes,KC,580.0,24.0,1.0,28.0,5.0,95.0,17.1,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Matt Ryan,ATL,608.0,18.0,1.0,36.0,6.1,79.0,13.4,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jared Goff,LAR,561.0,29.0,2.0,13.0,2.5,93.0,17.5,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andrew Luck,IND,639.0,8.0,2.0,37.0,5.9,88.0,14.0,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_pfr_pass.columns

Index(['player', 'team', 'pass_attempts', 'throwaways', 'spikes', 'drops',
       'drop_pct', 'bad_throws', 'bad_throw_pct', 'season', 'pfr_player_id',
       'pocket_time', 'times_blitzed', 'times_hurried', 'times_hit',
       'times_pressured', 'pressure_pct', 'batted_balls', 'on_tgt_throws',
       'on_tgt_pct', 'rpo_plays', 'rpo_yards', 'rpo_pass_att',
       'rpo_pass_yards', 'rpo_rush_att', 'rpo_rush_yards', 'pa_pass_att',
       'pa_pass_yards'],
      dtype='object')

In [13]:
df_pfr_pass.drop(columns=["team", 'player'], inplace=True)

In [14]:
for col in df_pfr_pass.columns:
    if col in df_core.columns:
        print(col)

season
pfr_player_id

# Loading Receiving PFR Data

In [15]:
df_pfr_rec = nfl.import_seasonal_pfr("rec", pfr_years)

In [16]:
df_pfr_rec.rename(columns={'pfr_id': "pfr_player_id"}, inplace=True)

In [17]:
df_pfr_rec.head()

,season,player,pfr_player_id,tm,age,pos,g,gs,tgt,rec,...,yac,yac_r,adot,brk_tkl,rec_br,drop,drop_percent,int,rat,loaded
0,2018,Michael Thomas,ThomMi05,NO,25.0,WR,16.0,16.0,147.0,125.0,...,514.0,4.1,7.7,6.0,20.8,3.0,0.020,1.0,124.1,2023-08-21
1,2018,Zach Ertz,ErtzZa00,PHI,28.0,TE,16.0,16.0,156.0,116.0,...,353.0,3.0,7.2,3.0,38.7,5.0,0.032,5.0,98.9,2023-08-21
2,2018,DeAndre Hopkins,HopkDe00,HOU,26.0,WR,16.0,16.0,163.0,115.0,...,387.0,3.4,11.5,5.0,23.0,2.0,0.012,3.0,115.9,2023-08-21
3,2018,Julio Jones,JoneJu02,ATL,29.0,WR,16.0,16.0,170.0,113.0,...,448.0,4.0,14.0,3.0,37.7,9.0,0.053,3.0,106.9,2023-08-21
4,2018,Adam Thielen,ThieAd00,MIN,28.0,WR,16.0,16.0,153.0,113.0,...,416.0,3.7,9.4,3.0,37.7,3.0,0.020,2.0,115.2,2023-08-21

In [18]:
df_pfr_rec.columns

Index(['season', 'player', 'pfr_player_id', 'tm', 'age', 'pos', 'g', 'gs',
       'tgt', 'rec', 'yds', 'td', 'x1d', 'ybc', 'ybc_r', 'yac', 'yac_r',
       'adot', 'brk_tkl', 'rec_br', 'drop', 'drop_percent', 'int', 'rat',
       'loaded'],
      dtype='object')

In [19]:
df_pfr_rec.drop(columns=["age", "player", "tm", "age", "pos", "g"], inplace=True)

In [25]:
for col in df_pfr_rec.columns:
    if col != "season" and col != 'pfr_player_id':
        df_pfr_rec.rename(columns={col: f"{col}_pfr_rec"}, inplace=True)

In [26]:
df_pfr_rec.columns

Index(['season', 'pfr_player_id', 'gs_pfr_rec', 'tgt_pfr_rec', 'rec_pfr_rec',
       'yds_pfr_rec', 'td_pfr_rec', 'x1d_pfr_rec', 'ybc_pfr_rec',
       'ybc_r_pfr_rec', 'yac_pfr_rec', 'yac_r_pfr_rec', 'adot_pfr_rec',
       'brk_tkl_pfr_rec', 'rec_br_pfr_rec', 'drop_pfr_rec',
       'drop_percent_pfr_rec', 'int_pfr_rec', 'rat_pfr_rec', 'loaded_pfr_rec'],
      dtype='object')

# Loading Rushing PFR Data

In [34]:
df_pfr_rush = nfl.import_seasonal_pfr("rush", pfr_years)

In [35]:
df_pfr_rush.rename(columns={'pfr_id': "pfr_player_id"}, inplace=True)

In [36]:
df_pfr_rush.head()

,season,player,pfr_player_id,tm,age,pos,g,gs,att,yds,td,x1d,ybc,ybc_att,yac,yac_att,brk_tkl,att_br,loaded
0,2018,Ezekiel Elliott,ElliEz00,DAL,23.0,RB,15.0,15.0,304.0,1434.0,6.0,74.0,839.0,2.8,595.0,2.0,19.0,16.0,2023-08-21
1,2018,Saquon Barkley,BarkSa00,NYG,21.0,RB,16.0,16.0,261.0,1307.0,11.0,50.0,571.0,2.2,736.0,2.8,30.0,8.7,2023-08-21
2,2018,David Johnson,JohnDa08,ARI,27.0,RB,16.0,16.0,258.0,940.0,7.0,51.0,531.0,2.1,409.0,1.6,9.0,28.7,2023-08-21
3,2018,Todd Gurley,GurlTo01,LA,24.0,RB,14.0,14.0,256.0,1251.0,17.0,70.0,634.0,2.5,617.0,2.4,17.0,15.1,2023-08-21
4,2018,Adrian Peterson,PeteAd01,WAS,33.0,RB,16.0,16.0,251.0,1042.0,7.0,47.0,572.0,2.3,470.0,1.9,20.0,12.6,2023-08-21

In [37]:
df_pfr_rush.columns

Index(['season', 'player', 'pfr_player_id', 'tm', 'age', 'pos', 'g', 'gs',
       'att', 'yds', 'td', 'x1d', 'ybc', 'ybc_att', 'yac', 'yac_att',
       'brk_tkl', 'att_br', 'loaded'],
      dtype='object')

In [38]:
df_pfr_rush.drop(columns=["age", "player", "tm", "age", "pos", "g"], inplace=True)

In [39]:
for col in df_pfr_rush.columns:
    if col != "season" and col != 'pfr_player_id':
        df_pfr_rush.rename(columns={col: f"{col}_pfr_rush"}, inplace=True)

In [40]:
df_pfr_rush.columns

Index(['season', 'pfr_player_id', 'gs_pfr_rush', 'att_pfr_rush',
       'yds_pfr_rush', 'td_pfr_rush', 'x1d_pfr_rush', 'ybc_pfr_rush',
       'ybc_att_pfr_rush', 'yac_pfr_rush', 'yac_att_pfr_rush',
       'brk_tkl_pfr_rush', 'att_br_pfr_rush', 'loaded_pfr_rush'],
      dtype='object')

# Merge in DFs

## PFR Pass

In [41]:
df_merge_pass = df_core.merge(df_pfr_pass, on=["season", "pfr_player_id"], how="left")

In [42]:
df_merge_pass.query("player_name == 'Kenny Pickett'")[["season", "player_name", "attempts", "bad_throws"]]

       season    player_name  attempts  bad_throws
13222    2022  Kenny Pickett       389        67.0
13223    2023  Kenny Pickett       324        57.0

## PFR Rec

In [43]:
df_merge_rec = df_merge_pass.merge(df_pfr_rec, on=["season", "pfr_player_id"], how="left")

In [45]:
df_merge_rec.query("player_name == 'Chris Olave'")[["season", "player_name", "age",
                                                    "receiving_yards", "adot_pfr_rec", "rat_pfr_rec"]]

       season  player_name   age  receiving_yards  adot_pfr_rec  rat_pfr_rec
13093    2022  Chris Olave  22.0           1042.0          14.2         82.7
13094    2023  Chris Olave  23.0           1123.0          13.3         91.5

## PFR Rush

In [46]:
df_merge_final = df_merge_rec.merge(df_pfr_rush, on=["season", "pfr_player_id"], how="left")

In [48]:
df_merge_final.query("player_name == 'Bijan Robinson'")[["season", "player_name", "age",
                                                    "rushing_yards", "yac_att_pfr_rush"]]

       season     player_name   age  rushing_yards  yac_att_pfr_rush
13258    2023  Bijan Robinson  21.0          976.0               1.9

# Save Data

In [49]:
df_merge_final.to_pickle("../../FantasyData/data-frames/df_basic_ngs_snaps_adv_1999_2023.pkl")