# Imports

In [1]:
import numpy as np
import pandas as pd
from utils.scatter_plot import create_scatter_plot, prep_df_for_scatter_plot

# Grabbing Data

In [2]:
df_all = pd.read_pickle("../../FantasyData/data-frames/df_all_2005_2023.pkl")

In [3]:
SEASON = 2012
POSITION = 'QB'

In [8]:
df_review = df_all.query(f"season >= {SEASON} and season <= 2022 and position == '{POSITION}' and games >= 5")

### Verifying Data

In [9]:
assert(df_review["position"].unique()[0] == POSITION)
assert(df_review["season"].unique()[0] == SEASON)
assert(df_review["games"].max() == 17)

# Line Graph

Reviewing column options

In [10]:
df_review["total_epa"] = df_review["passing_epa"] + df_review["rushing_epa"]

/tmp/ipykernel_14439/4154510200.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_review["total_epa"] = df_review["passing_epa"] + df_review["rushing_epa"]

In [11]:
df_review[["total_epa", "fantasy_points"]].corr()

                total_epa  fantasy_points
total_epa        1.000000        0.724368
fantasy_points   0.724368        1.000000